#map {
    height: 300px;
    width: 90%%;
}

body {
    height: 100%;
    font-family: arial;
}

.quote-p {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-shadow: -1px 0 20px white, 0 1px white, 1px 0 white, 0 -1px;
}

.bg-img {
    background-image: url('https://data.thefeedfeed.com/static/2019/03/01/15514573455c795c4199081.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center ;
    max-width: 100%;
 min-height: 500px;
 min-width:500px;
}

.view {
  height: 100%;
}

@media (max-width: 740px) {
 
  .view {
    height: 600px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
 
  .view {
    height: 600px;
  }
}
